
#banner {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 100%;
  max-height: 100%;
}

.container {
  background-color: #eee;
}

footer {
  background-color: #333;
  padding: 16px;
  margin-top: 4em;
}

.img-responsive {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 3em 0 auto;
  padding: 0;
  float: none;
}

.content-photo {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 1em;
  float: right;
}


/* Nav Stuff */

.navbar-inverse {
  background-color: #333;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 60px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.4em;
  font-weight: 300;
  padding: 20px 25px 20px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}


/*  Image Gallery */
#imageGallery {
  list-style:none;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 780px;
  text-align: center;
}
#imageGallery li {
  display: inline-block;
  padding: 8px;
  background:white;
  margin:10px;
}
#imageGallery li img {
  display: block;
}
#imageGallery a {
  text-decoration: none;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 3.5%;
  max-width: 30%;
}

#overlay p {
  font-size: 100%;
  color: white;
  background: rgba(0,0,0,0.1)
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 480px){
  .content-photo {
    float: none;
    width: 85%;
    height: 85%;
  }
}

@media (max-width: 992px){
  .col-md-4-offset-1 {
    float: none !important;
    padding: 3em;
  }
}


/* Small devices (tablets, 768px and up) */


/* Medium devices (desktops, 992px and up) */


/* Large devices (large desktops, 1200px and up) */
